*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(116, 137, 255);
    color: #525252;
    font-family: 'Noto Sans JP'; /***Noto Sans fonts***/
}
a{
    text-decoration: none;
}

.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor .grid-main{
    width: 400px;
    height: 95%;
    border: solid 2px black;
    border-radius: 15px;
    background-color: white;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5,auto);
    grid-template-areas: "perfil"
                        "btn1"
                        "btn2"
                        "btn3"
                        "btn4";
}

.contenedor .grid-main .perfil{
    border-bottom: solid 2px black;
    grid-area: perfil;
}
.contenedor .grid-main .perfil a{
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.contenedor .grid-main .perfil a img{
    width:120px;
    height:120px;
    border-radius:150px;
}
.contenedor .grid-main .perfil  h1{
    text-align: center;
}
.contenedor .grid-main .perfil  p{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}


.contenedor .grid-main .item1{
    grid-area: btn1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor .grid-main .item1 a{ 
    width: 60%;
    height: 80%;
    border: solid 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}

.contenedor .grid-main .item2{
    grid-area: btn2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor .grid-main .item2 a{ 
    width: 60%;
    height: 80%;
    border: solid 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}

.contenedor .grid-main .item3{
    grid-area: btn3;
    display: flex;
    align-items: center;
    justify-content: center;

}
.contenedor .grid-main .item3 a{ 
    width: 60%;
    height: 80%;
    border: solid 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}

.contenedor .grid-main .item4{
    grid-area: btn4;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor .grid-main .item4 a{ 
    width: 60%;
    height: 80%;
    border: solid 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}

